@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap');

:root {
    --bg: #2b2625;
    --description: #a7a7a7;
    --btn: #171614;
} 

body {
    background-color: var(--bg);
    font-family: 'Inter', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 1.5rem; /* Increase the base font size */
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: block;
}

#pfp {
    height: 12rem; /* Increase the height */
    border-radius: 6rem; /* Adjust border-radius accordingly */
}

#username > p {
    font-size: 1.5rem; /* Increase font size */
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0.75rem; /* Adjust margin */
}

#description > p {
    color: var(--description);
    font-size: 1.05rem; /* Increase font size */
    margin-top: 0.45rem; /* Adjust margin */
}

.button {
    background-color: var(--btn);
    border: none;
    margin-top: 1.05rem; /* Adjust margin */
    height: 3.75rem; /* Increase height */
    width: 45rem; /* Increase width */
    color: white;
    font-size: 1.2rem; /* Increase font size */
    font-weight: bold;
    border-radius: 4.5px; /* Adjust border-radius */
    opacity: 90%;
    transition: transform 120ms ease-in;
}

.button:hover {
    transform: scale(1.025);
}

#icons {
    display: flex;
    justify-content: center;
}

#icons > a {
    margin: 1.5rem 1rem;
}

